<article class="card mt-3">
  <section class="card-header">
    <%= question.user.gravatar %>
    <%= question.user.name_or_email %>
  </section>
  <div class="card-body">
    <h3><%= link_to question.title, question_path(question)%></h3>

    <section class="card-text">
      <p class="my-2"><i>
        <%= strip_tags question.body %>
      </i></p>

      <time datetime="<%= question.formatted_created_at%>">
        <small><%= question.formatted_created_at %></small>
      </time>
    </section>
    <%= link_to t('helpers.button.show'), question_path(question), class: 'btn btn-primary' %>
    <%= link_to t('helpers.button.edit'), edit_question_path(question), class: 'btn btn-secondary' %>
    <%= link_to t('helpers.button.destroy'), question_path(question), data: {method: :delete, confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
  </div>
</article>