<!DOCTYPE html>
<html lang="<%=I18n.locale %>>
  <head>
    <meta charset="utf-8">
    <title><%= full_title(yield(:page_title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
  </head>

  <body data-lang="<%=I18n.locale %>">
  <%= yield :main_menu %>
  <main class="container mt-3">
    <% flash.each do |k, v| %>
      <%= tag.div v, class: "alert alert-#{k}", role: 'alert' %>
    <% end %>
    <%= yield %>
  </main>
  </body>
</html>
